<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
      	<p>IoT Based Toll Gate Billing System using Raspberry Pi</p>
	<p>by</p>
<p>Ma Su Su Aung_VI-EC 43</p>
	<p>Ma Htet Nandar Lin_VI-EC 55</p>
<p>2019-2020 Academic Year</p>	
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2"
              >Register</a
            >
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
          </div>
        </div>
      </div>
      